  <div>Welcome to the Emotobooth! Enable your camera to capture photos while you chat. Just give the flash a few seconds to charge.</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="emotophoto"><div id="caption"></div></div> 
  
  <div id="video_container"></div>